.alert {
    margin-block: var(--spacing-base);
    border-radius: var(--border-radius-small);
    padding: var(--spacing-small);
    font-size: var(--font-size-large)
}

.type-success {
    background: var(--color-status-success-weak);
    border-inline-start: 4px solid var(--color-status-success);
    color: var(--color-status-success);
}